body {
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
    /* background: #0f0c29; */
    /* background: radial-gradient(circle, #0f0c29, #302b63, #24243e); */
    
    
    font-family: "Arial", sans-serif;
  }
  .question-container {
    width: 70%;
    margin: 20px auto;
    /* height: 400px; */
    /* background-color: rgb(224, 75, 75); */
    /* padding: 20px; */
    /* color: white; */
    /* font-weight: bold; */
  }
  .line-contain{
    width: 90%;
    background-color: #d5d2d2;
    height: 20px;
    margin: 1vw 5vw 1vw 5vw;
    border-radius: 25px;
  }
  .line{
    width: 20%;
    background-color: rgb(66, 171, 45);
    height: 20px;
    /* margin: 10px 0px 10px 0px; */
    border-radius: 25px;
    transition: 0.5s;
    
  }
  .next-btn,
  .reset-btn {
    background-color: #eceaea;
    color: black;
    border: 2px solid black;
    
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    width: 15vw;
    min-width:fit-content;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .next-btn:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
  .question-btn {
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    font-weight: 500;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.375rem;
    margin: 15px;
  }
  .result {
    font-family: Outfit, sans-serif;
  }
  #Ques-Head{
    font-size: 40px;
    color: rgb(57, 56, 56);
  }
  .questionEle{
    font-size: 18px;
  
    font-weight: 600;
  }
  #category{
    color: rgb(73, 72, 72);
  }
  .buttons{
    width: 40%;
  }
  .optionDiv{
    text-align: center;
  }
  .pop-up{
    text-align: center;
  }
  .pop-up h2{
    font-size: 40px;
  }
  .abc{
    height: 30px;
    border-radius: 5px;
    width: 100%;
    outline: 2px solid rgb(52, 51, 51);
    position: relative;
    display: block;
  }
  .minline{
    height: 30px;
    position: absolute;
    background-color: black;
    /* width: 10%; */
    border: none;
    border-radius: 5px;
    z-index: 3;
    transition: 0.8s;
  }
  .maxline{
    height: 30px;
    position: absolute;
    /* width: 100%; */
    border: none;
    border-radius: 5px;
    z-index: 1;
    background-color: rgb(203, 203, 208);
    transition: 0.8s;
  }
  .scoreline{
    position: absolute;
    height: 30px;
    /* width: 30%; */
    z-index: 2;
    background-color: rgb(98, 97, 97);
    border: none;
    border-radius: 5px;
    transition: 0.8s;
  }
  .small-font{
    font-size: 15px;
  }
  @media screen and (max-width: 600px){
    .buttons{
      width: 100%;
    }
  }